.jumbotron {
  position: relative;
  padding: 1em;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(0.6);
  }
  h1,
  h2,
  h3 {
    margin: 5px;
    font-weight: normal;
  }
  h1 {
    color: $primary;
    font-size: 4em;
  }
  h2 {
    color: $white;
  }
  @media screen and (min-width: $tablet) {
    h1 {
      font-size: 5em;
    }
    h2 {
      font-size: 2em;
    }
  }
  @media screen and (max-width: $tablet) {
    h1 {
      font-size: 6em;
    }
    h2 {
      font-size: 3em;
    }
  }
}
